{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="row">
    <div class="col-md-8">
      <div class="panel panel-default">
        <div class="panel-body">
          <h3>{{ gig.title }}</h3>
          <hr/>
          <img src="/media/{{ gig.photo }}" class="img-repsonsive center-block">
        </div>
      </div>
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4>About This Gig</h4>
        </div>
        <div class="panel-body">
          <p>{{ gig.description }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{ gig.user.profile.avatar }}" class="img-circle center-block" height="100" width="100">
          <a href="{% url 'profile' gig.user.username %}"><h4 class="text-center">{{ gig.user.username }}</h4></a>
          <hr/>
          <p>{{ gig.user.profile.about }}</p>
        </div>
      </div>
    </div>
  </div>

{% endblock %}
