{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="row">
    <div class="col-md-12">
      <img src="{% static 'img/banner.gif' %}" class="banner">
    </div>

    {% for i in '12345678' %}
      <div class="col-md-3">
        <div class="thumbnail">
          <a href="{% url 'gig_detail' i %}"><img src="{% static 'img/gig.png' %}"></a>
          <div class="caption">
            <p><a href="{% url 'gig_detail' i %}">I will create your own website with Django and ReactJS</a></p>
            <p><span>by <a href="#">Iron Man</a></span><b class="green pull-right">$6</b></p>
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

{% endblock %}
