{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}

  <div class="row">

    {% for story in stories %}
      <div class="col-md-12">
        <div class="thumbnail">
          <img style="margin-top:30px" src="{{ story.photo.url }}" width="700" height="300">
          <div class="caption">
            <p style="margin-top:30px;margin-bottom:30px;margin-left:30px;margin-right:30px;line-height:1.7">{{ story.description }}</p>
            <h3 style="margin-top:30px;margin-bottom:30px;margin-left:30px;margin-right:30px;line-height:1.7">Featured companies:</h3>
            {% for company in story.companies.all %}
              <a class="btn btn-success collapsible collase_down" style="margin-left:30px;margin-bottom:15px;width:230px">{{ company.title }}</a>
              <div class="content"> <!-- Only show when the previous button is clicked -->
                <div style="background-color: #f1f1f1;">
                  {% if company.job_set.all %}
                    {% for job in company.job_set.all %}
                      <div>
                        <a style="margin-left:10px;margin-top:10px;margin-bottom:10px" class="btn btn-primary collase_right" target="_blank">{{ job.title }}</a>
                          
                          <div class="content sidenav right"> <!-- Contain job description, originally hidden -->
                            <h3 style="text-align:center">{{ job.title }}</h3>
                            <h4 style="text-align:center">Description</h4>
                            <p style="margin-top:20px;margin-bottom:20px;margin-left:20px;margin-right:20px;line-height:1.7">{{ job.description }}</p>
                            <h4 style="text-align:center">Requirements</h4>
                            <p style="margin-top:20px;margin-bottom:20px;margin-left:20px;margin-right:20px;line-height:1.7">{{ job.requirements }}</p>
                          </div>

                        <p style="display:inline; margin-left:10px;margin-top:10px;margin-bottom:10px">{{ job.requirements }}</p>
                        <a style="margin-right:10px;margin-top:10px;margin-bottom:10px" href="{{ job.url }}" class="btn btn-success" target="_blank">Apply</a>
                      </div>
                    {% endfor %}
                  {% else %}
                    <h5 style="margin-top:10px;margin-bottom:10px;margin-left:10px;margin-right:10px"> There is no current openings.</h5>
                  {% endif %}
                </div>
                <br>
              </div>
            {% endfor %}
          </div>
        </div>
      </div>
    {% endfor %}
  </div>

<script>
// Collapse down for all jobs
var coll = document.getElementsByClassName("collase_down");
var i;

for (i = 0; i < coll.length; i++) {
  coll[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}

// Collapse right for job description
var collase_right = document.getElementsByClassName("collase_right");

for (i = 0; i < collase_right.length; i++) {
  collase_right[i].addEventListener("click", function() {
    this.classList.toggle("active");
    var content = this.nextElementSibling;
    if (content.style.display === "block") {
      content.style.display = "none";
    } else {
      content.style.display = "block";
    }
  });
}
</script>
{% endblock %}
