{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
  <h1 style="margin-bottom: 30px">My Stories</h1>
  <div class="panel panel-default">
    <table class="table table-bordered table-striped">
      <thead class="bg-success">
        <tr>
          <th>
            <th>Story Title</th>
          </th>
        </tr>
      </thead>
      <tbod>
        {% for story in stories %}
          <tr>
            <td>{{ forloop.counter }}</td>
            <td><a href="{% url 'edit_story' story.id %}">{{ story.title }}</a></td>
          </tr>
        {% endfor %}
      </tbod>
    </table>
  </div>
{% endblock %}
