{% extends 'base.html' %}
{% load staticfiles %}

{% block page %}
  {% if request.user == profile.user %}
    <br/>
    <form method="POST">
      {% csrf_token %%}
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{profile.avatar}}" class="img-circle" height="120" width="120">
          <hr>
          <a href="{{ profile.resume.url}}" class="btn btn-success" target="_blank">View Your Resume</a>
          <hr>
          <input class="form-control" name="about" value="{{profile.about}}">
          <br>
          <button class="btn btn-success" type="submit">Update</button>
        </div>
      </div>
    </form>
  {% else %}
    <div class="jumbotron text-center">
      <h1>
        <b>{{profile.user.username}}</b>
      </h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="{{profile.avatar}}" class="img-circle" height="120" width="120">
        <h3 class="text-uppercase"><b>About {{profile.user.username}}</b></h3>
        <hr>
        <p>{{profile.about}}</p>
      </div>
    </div>
  {% endif %}

{% endblock %}
