{% extends 'base.html' %}
{% load staticfiles %}
{% block page %}
  {% if request.user == profile.user %}
    <br/>
    <form method="POST">
      {% csrf_token %%}
      <div class="panel panel-default">
        <div class="panel-body">
          <img src="{{profile.avatar}}" class="img-circle" height="120" width="120">
          <hr>
          <h4>About you</h4>
          <input class="form-control" name="about" value="{{profile.about}}">
          <hr>
          {% if not profile.resume %} <!-- User does not have resume -->
          <form method="POST" action='{% url "profile" username=request.user %}'>
            <input type="file" name="file" id="file" class="inputfile" /><!-- does not hide in Safari -->
            <label for="file">Upload your resume</label> 
          </form>

          {% else %} <!-- User already uploaded resume -->
          <a href="{{ profile.resume.url }}" class="btn btn-success">Resume</a>
          <br>
          <br>
          <form method="POST" action='{% url "profile" username=request.user %}'>
            <input type="file" name="file" id="file" class="inputfile" /><!-- does not hide in Safari -->
            <label for="file">Update your resume</label> 
          </form>
          {% endif %}
        </div>
      </div>
    </form>
  {% else %}
    <div class="jumbotron text-center">
      <h1>
        <b>{{profile.user.username}}</b>
      </h1>
    </div>
    <div class="panel panel-default">
      <div class="panel-body">
        <img src="{{profile.avatar}}" class="img-circle" height="120" width="120">
        <h3 class="text-uppercase"><b>About {{profile.user.username}}</b></h3>
        <hr>
        <p>{{profile.about}}</p>
      </div>
    </div>
  {% endif %}

{% endblock %}
