.container {
  width: 850px;
  padding-top: 15px;
}

.navbar-left{
  padding-left: 125px;
}

.col-md-12{
  padding-top: 35px;
}

.btn-success{
  background-color: #FF6347;
  border-color: #FF6347;
}

/*.btn-primary{
  
}*/

.navbar-default{
  background-color: #FFFFFF;
  border-color: #f9f9f9;
  height:80px;
}



body {
  padding-top: 80px;
}

a {
  color: #323232;
}

a:hover {
  color: #0bb536;
}

#category a {
  padding: 5px 15px;
}

#body {
  background-color: #f7f7f7;
}

#body .banner {
  width: 100%;
  margin-bottom: 20px;
}

#footer {
  padding: 20px 0;
}

.green {
  color: #0bb536;
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label:hover {
    background-color: #FF6347;
    cursor: pointer;
}

.inputfile + label * {
  pointer-events: none;
}

/* Sidebar */
.sidenav {
  width: 200px;
  position: fixed;
  z-index: 1;
  top: 50px;
  left: 10px;
  background: #eee;
  overflow-x: hidden;
  padding: 8px 0;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #2196F3;
  display: block;
}

.sidenav a:hover {
  color: #064579;
}

.main {
  margin-left: 160px; /* Same as the width of the sidenav */
  font-size: 28px; /* Increased text to enable scrolling */
  padding: 0px 10px;
}
