.container {
  width: 850px;
  padding-top: 15px;
}

.navbar-left{
  padding-left: 125px;
}

.col-md-12{
  padding-top: 35px;
}

.btn-success{
  background-color: #FF6347;
  border-color: #FF6347;
}

/*.btn-primary{
  
}*/

.navbar-default{
  background-color: #FFFFFF;
  border-color: #f9f9f9;
  height:80px;
}



body {
  padding-top: 60px;
}

a {
  color: #323232;
}

a:hover {
  color: #0bb536;
}

#category a {
  padding: 5px 15px;
}

#body {
  background-color: #f7f7f7;
}

#body .banner {
  width: 100%;
  margin-bottom: 20px;
}

#footer {
  padding: 20px 0;
}

.green {
  color: #0bb536;
}

.inputfile {
  /* visibility: hidden etc. wont work */
  width: 0.1px;
  height: 0.1px;
  opacity: 0;
  overflow: hidden;
  position: absolute;
  z-index: -1;
}

.inputfile:focus + label {
  /* keyboard navigation */
  outline: 1px dotted #000;
  outline: -webkit-focus-ring-color auto 5px;
}

.inputfile + label:hover {
    background-color: #FF6347;
    cursor: pointer;
}

.inputfile + label * {
  pointer-events: none;
}
