.container {
  width: 850px;
  padding-top: 15px;
}

.navbar-left{
  padding-left: 125px;
}

.col-md-12{
  padding-top: 35px;
}

.btn-success{
  background-color: #FFA500;
  border-color: #FFA500;
}

.navbar-default{
  background-color: #FFFFFF;
  border-color: #f9f9f9;
  height:80px;
}


body {
  padding-top: 60px;
}

a {
  color: #323232;
}

a:hover {
  color: #0bb536;
}

#category a {
  padding: 5px 15px;
}

#body {
  background-color: #f7f7f7;
}

#body .banner {
  width: 100%;
  margin-bottom: 20px;
}

#footer {
  padding: 20px 0;
}

.green {
  color: #0bb536;
}
